  body {
      font-family: monospace;
    }

	h1 {
      margin-top: 50px;
    }
    
    .input-field {
      margin-top: 20px;
    }
    
    .input-field label {
      display: block;
      font-weight: bold;
    }
    
	.input-field select {
      width: 185px; /* Atur lebar dropdown list di sini */
      padding: 5px;
    }
	
    .input-field input[type="text"],
    .input-field input[type="password"] {
      padding: 5px;
    }
    
    .input-field button {
      padding: 8px 20px;
      margin-top: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
.input-field button:hover {
  background-color: black;
}
button {
	padding: 7px 35px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	}
	
button:hover {
  background-color: purple;
}
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
	
    .struk {
      max-width: 300px;
      margin: 0 auto;
      padding: 10px;
      background: #FFF;
      border: 1px solid #000;
    }
    
    .logo {
      text-align: center;
      margin-bottom: 10px;
    }
    
	.logo img {
	  width: 100px; /* Ganti dengan ukuran yang diinginkan */
	  height: auto; /* Sesuaikan dengan aspek rasio gambar */
	}
    
    .info {
      text-align: center;
      font-size: 12px;
      margin-bottom: 10px;
    }
	
	.info1 {
      text-align: center;
      font-size: 12px;
      margin-bottom: 10px;
    }
    
    .konten {
      margin-top: 10px;
	    border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
    }
    
    .baris {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    
    .baris .item {
      flex: 1;
    }
    
    .baris .item:nth-child(2) {
      text-align: right;
    }
    
    .baris .item:nth-child(2) .harga {
      font-weight: bold;
    }
    
    .baris .item:nth-child(2) .jumlah {
      margin-left: 5px;
    }
    
    .total {
      margin-top: 10px;
      text-align: right;
      font-weight: bold;
      font-size: 17px;
    }
    
    .invoice {
      text-align: center;
      font-size: 12px;
      margin-top: 5px;
    }
	
.info {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
.watermark {
    /* Used to position the watermark */
    position: relative;
}

.watermark__inner {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;
}

.watermark__body {
    /* Text color */
    color: rgba(0, 0, 0, 0.5);

    /* Text styles */
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    /* Rotate the text */
    transform: rotate(-45deg);

    /* Disable the selection */
    user-select: none;
}
